# Ignorer tous les fichiers et dossiers/*
# Ne pas ignorer wp-content
!/wp-content/
# Ne pas ignorer admin si tu souhaites le garder sous suivi
!/admin/

# Ignorer les fichiers de log
logs/

# Ignorer les fichiers de configuration si nécessaire
conf/

.gitignore.save
app/sql/

