logs/php/php-fpm.log filter=lfs diff=lfs merge=lfs -text
logs/nginx/error.log filter=lfs diff=lfs merge=lfs -text
conf/php/php.ini.hbs filter=lfs diff=lfs merge=lfs -text
conf/php/php-fpm.d/www.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/php/php-fpm.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/nginx/nginx.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/nginx/includes/wordpress-single.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/nginx/includes/wordpress-multi.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/nginx/includes/restrictions.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/nginx/includes/mime-types.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/nginx/includes/gzip.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/nginx/site.conf.hbs filter=lfs diff=lfs merge=lfs -text
conf/mysql/my.cnf.hbs filter=lfs diff=lfs merge=lfs -text
app/public/xmlrpc.php filter=lfs diff=lfs merge=lfs -text
app/public/wp-trackback.php filter=lfs diff=lfs merge=lfs -text
app/public/wp-signup.php filter=lfs diff=lfs merge=lfs -text
app/public/wp-settings.php filter=lfs diff=lfs merge=lfs -text
app/public/wp-mail.php filter=lfs diff=lfs merge=lfs -text
app/public/wp-login.php filter=lfs diff=lfs merge=lfs -text
app/public/wp-load.php filter=lfs diff=lfs merge=lfs -text
