/* ETAPE 1 */

/* Effet de rotation des fleurs */
.story__article::after, .story h2::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after, .site-footer ul::after, .nomination::before, .nomination::after {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Section des nominations */
.nomination {
    position: relative;
    padding: 150px 0 50px;
    display: flex;
    gap: 40px 0;
    justify-content: center;
    align-items: center;
}

/* Effet de fade-in pour les sections */
.fade-in {
    opacity: 0; /* Commence complètement transparent */
    transform: translateY(100px); /* Déplacement vers le bas */
    transition: opacity 2s ease, transform 2s ease; /* Transition pour opacité et déplacement */
}

/* Quand l'élément devient visible */
.fade-in.visible {
    opacity: 1; /* Deviens visible */
    transform: translateY(0); /* Remet l'élément à sa position d'origine */
}

/* banner image video head */
.fade-in-top { 
    opacity: 0;
    transform: translateY(-50px); 
    transition: opacity 2s ease, transform 2s ease;
}

.fade-in-top.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Effet d'apparition des titres */
.appear {
    opacity: 0;
    transform: translateY(70px);
    transition-duration: 2s;
}

span.appear {
    display: block;
}

#studio h2 {
    overflow: visible;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ETAPE 2 */