/* ETAPE 1 */

/* ROTATION DES FLEURS */
.story__article::after, .story h2::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after, .site-footer ul::after, .nomination::before, .nomination::after {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {  
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* SECTION NOMINATION */
.nomination {
    position: relative;
    padding: 150px 0 50px;
    display: flex;
    gap: 40px 0;
    justify-content: center;
    align-items: center;
}

/* EFFET FADE-IN DES SECTIONS ASSOCIER JS */

.fade-in {
    opacity: 0; /* Commence complètement transparent */
    transform: translateY(100px); /* Déplacement vers le bas */
    transition: opacity 1.5s ease, transform 1.5s ease; /* Transition pour opacité et déplacement */
}

/* Quand l'élément devient visible */
.fade-in.visible {
    opacity: 1; /* Deviens visible */
    transform: translateY(0); /* Remet l'élément à sa position d'origine */
}

/* fade-in inversé pour le banner*/
.fade-in-top { 
    opacity: 0;
    transform: translateY(-100px); 
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in-top.visible {
    opacity: 1;
    transform: translateY(0);
}

/* APPARITION DES TITRES ASSOCIER JS */
.appear {
    opacity: 0;
    transform: translateY(70px);
    transition-duration: 2s;
}

span.appear {
    display: block;
}

#studio h2 {
    overflow: visible;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ETAPE 2 */

/* ajout de la video , image fixe, flottement du logo */

.banner { 
    position: relative; 
    object-fit: contain; 
    background-image: none; 
    z-index: 1; 
}

.background-image, .logo {
    position: absolute; 
}

.background-video {
    z-index: 1;
    @media (max-width: 700px) {
        display: none; 
      }
}

@counter-style fallback-video {
    fallback: url("/image/banner.png");
  }

.logo {
    z-index: 2; 
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% { 
        transform: translate(0,  0px);  
    }
    50%  { 
        transform: translate(0, 10px); 
    }
    100%   { 
        transform: translate(0, -0px); 
    }
}

@media screen and (max-width: 700px) {
    .banner {
        min-height: 500px;
    }

    .background-image {
        width: 100%!important;
        top: 70px;
    }

    .main-navigation {
        height: 80px;
    }
  }

  /* ETAPE 3 */

/* Pour swiper des personnages */
.mySwiper {
    width: 100vw;
    display: flex;
    justify-content: left;
}

.swiper-slide img {
    opacity: 0;
    transition-duration: 500ms;
    transform: translate3d(0px, 0px, -105px) rotateX(0deg) rotateY(0deg) scale(1); 
}

.swiper-slide-visible img {
    opacity: 1;
}
 .main-characters h3 {
    display: flex;
    text-align: right;
 }
/* ETAPE 4 , parralax nuage */

#place {
    background-image: url('../foce-child/image/Studio_Koukaki-image_place.png') !important;
    margin-top: -50px;
    & div {
        margin-top: 170px;
    }
    & .big_cloud {
        position: relative;
        left: 950px;        
        bottom:420px;
        filter: blur(10px); /* effet de flou */
        z-index: 1;
    }
    & .little_cloud {
        position: relative;
        left: 730px;      
        bottom:360px;
        filter: blur(10px);
    }
}

/********** ETAPE 5 **********/
.main-navigation.toggled ul {
	display: flex;
}

#site-navigation {
    position: relative;
}

.burger {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 0.4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
  
.burger-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 8px;
    width: 40px;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    right: 5em;
    cursor: pointer;   
}

.burger-icon .line {
    height: 2px;
    background-color: #000;
    display: block;
    width: 100%;
    margin: 0;
    transition: all .3s ease-in-out;
}

.burger-content {
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
    font-size: 2.5em;
    background: #FFF5E9;
    display: none;
}

.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.burger-content ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
}

.burger-content li {
    font-size: 4em;
    line-height: 2em;
}

.burger-footer {
    margin-bottom: 20px;
}

.burger-content li>a:hover, .burger-logo {
    filter: drop-shadow(0px 0px 5px #ff5c00);
}

.burger-logo {
    width: 154px;
    margin-top: 40px;
}

.burger-icon.close .line:nth-child(2) {
    opacity: 0;
}

.burger-icon.close .line:first-child {
    transform: rotate(45deg) translate3d(8px, 6px, 0);
}

.burger-icon.close .line:last-child {
    transform: rotate(-45deg) translate3d(8px, -6px, 0);
}

.hibiscus {
    position: absolute;
    bottom: -19.5em;
    right: -18em;
    filter: blur(2px);
    animation: rotation 10s infinite linear;
    width: 500px;
    height: 500px;
    @media (max-width: 700px) {
        display: none;
      }
}

.orchid {
    position: absolute;
    top: 6em;
    left: -4.5em;
    animation: rotation 10s infinite linear;
    width: 172px;
    height: 168px;
    @media (max-width: 700px) {
        display: none;
      }
}

.random-flower {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 28em;
    right: -2.25em;
    animation: rotation 10s infinite linear;
    @media (max-width: 700px) {
        display: none;
      }
}

.flower {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32em;
    left: 17em;
    animation: rotation 10s infinite linear;
    @media (max-width: 700px) {
        display: none;
      }
}

.sunflower {
    position: absolute;
    top: 6em;
    right: 15em;
    animation: rotation 10s infinite linear;
    width: 216px;
    height: 216px;
    @media (max-width: 700px) {
        display: none;
      }
}

.black-cat {
    position: absolute;
    top: 32em;
    right: 15em;
    animation: float 3s ease-in-out infinite alternate;
    width: 155px;
    height: 148px;
    @media (max-width: 700px) {
        display: none;
      }
}

.purple-cat {
    position: absolute;
    width: 109px;
    height: 98px;
    top: 15em;
    left: 22em;
    animation: float 3s ease-in-out infinite alternate;
    @media (max-width: 700px) {
        display: none;
      }
}

.yellow-cat {
    position: absolute;
    bottom: 5em;
    left: 7em;
    animation: float 3s ease-in-out infinite alternate;
    @media (max-width: 700px) {
        display: none;
      }
}





